@page "/bios"

<PageTitle>Bios</PageTitle>


<h3>Bios</h3>

<p>Here are this years competing groups:</p>


<p>
    Show Group 1: <br />
    Trainer- <br />
    Name: Ashley Rogers<br />
    Age: 26 <br />
    Gender: Female <br />
    Hair: Brown <br />
    Eye: Green <br />
    Height: 5’11 ft. <br />
    Prior years at this show: 0 <br />

    <br />

    Dog-
    Name: Sunny <br />
    Age: 6 <br />
    Gender: Male <br />
    Fur: Light Gold <br />
    Eye: Brown <br />
    Height: 22 in. <br />
    Prior years at this show: 0 <br />
    Breed: Golden Retriever <br />

    <!--Performance Times: Monday 6pm, Tuesday 7am, Wednesday 12pm, Thursday 12pm, Friday 7am.-->

    ____________________________________________________________________________________
</p>
<p>

    Show Group 2:<br />
    Trainer- <br />
    Name: Micheal King<br />
    Age: 21 <br />
    Gender: Male <br />
    Hair: Blode <br />
    Eye: Green <br />
    Height: 6’1 ft.<br />
    Prior years at this show: 1 <br />

    <br />

    Dog- <br />
    Name: Axel <br />
    Age: 5 <br />
    Gender: Male <br />
    Fur: Black and Tan <br />
    Eye: Brown <br />
    Height: 25 in. <br />
    Prior years at this show: 0 <br />
    Breed: German Shepherd <br />


    <!--Performance Times: Monday 6pm, Tuesday 6pm, Wednesday 12pm, Thursday 7am, Friday 12pm.  -->
    ____________________________________________________________________________________
</p>
<p>

    Show Group 3: <br />
    Trainer- <br />
    Name: Stanley Clark<br />
    Age: 29 <br />
    Gender: Male <br />
    Hair: Black <br />
    Eye: Brown <br />
    Height: 5’9 ft. <br />
    Prior years at this show: 0 <br />

    <br />

    Dog- <br />
    Name: Duke<br />
    Age: 5<br />
    Gender: Female<br />
    Fur: Black, White, Tan<br />
    Eye: Hazel<br />
    Height: 13 in.<br />
    Prior years at this show: 1<br />
    Breed: Beagle<br />

    <!--Performance Times: Monday 12pm, Tuesday 7am, Wednesday 7am, Thursday 6pm, Friday 6pm.-->
    ____________________________________________________________________________________
</p>
<p>

    Show Group 4:<br />
    Name: Jenny Butler<br />
    Age: 34<br />
    Gender: Female<br />
    Hair: Blonde<br />
    Eye: Hazel<br />
    Height: 5’6 ft.<br />
    Prior years at this show: 2<br />

    <br />

    Dog-<br />
    Name: Burst<br />
    Age: 8<br />
    Gender: Female<br />
    Fur: Dark Gold<br />
    Eye: Brown<br />
    Height: 21 in.<br />
    Prior years at this show: 2<br />
    Breed: Golden Retriever<br />

    <!--Performance Times: Monday 6pm, Tuesday 7am, Wednesday 6pm, Thursday 6pm, Friday 12pm.-->

    ____________________________________________________________________________________
    </p>
    <p>

    Show Group 5:<br />
    Trainer-<br />
    Name: Ethan Smith<br />
    Age: 41<br />
    Gender: Male<br />
    Hair: Black<br />
    Eye: Blue<br />
    Height: 5’8 ft.<br />
    Prior years at this show: 7<br />

    <br />

    Dog-<br />
    Name: Charlie<br />
    Age: 8<br />
    Gender: Male<br />
    Fur: Cream<br />
    Eye: Brown<br />
    Height: 23 in.<br />
    Prior years at this show: 3<br />
    Breed: Airedale Terrier<br />

    <!--Performance Times: Monday 6pm, Tuesday 12pm, Wednesday 7am, Thursday 12pm, Friday 7am.-->

    ____________________________________________________________________________________
    </p>
    <p>

    Show Group 6:<br />
    Trainer-<br />
    Name: Alex Jackson<br />
    Age: 37<br />
    Gender: Female<br />
    Hair: Black<br />
    Eye: Brown<br />
    Height: 5’4 ft.<br />
    Prior years at this show: 0<br />

    <br />

    Dog-<br />
    Name: Buddy<br />
    Age: 4<br />
    Gender: Male<br />
    Fur: Fawn<br />
    Eye: Dark Brown<br />
    Height: 22 in.<br />
    Prior years at this show: 0<br />
    Breed: Boxer<br />

    <!--Performance Times: Monday 12pm, Tuesday 6pm, Wednesday 12pm, Thursday 7am, Friday 6pm.-->
    ____________________________________________________________________________________
    </p>
    <p>

    Show Group 7: <br />
    Trainer- <br />
    Name: Frank Martin<br />
    Age: 23<br />
    Gender: Male<br />
    Hair: Brown<br />
    Eye: Brown<br />
    Height: 5’10 ft.<br />
    Prior years at this show: 0<br />

    <br />

    Dog-<br />
    Name: Ace<br />
    Age: 5 <br />
    Gender: Male<br />
    Fur: White and Black<br />
    Eye: Amber<br />
    Height: 23 in.<br />
    Prior years at this show: 0<br />
    Breed: Dalmatian<br />

    <!--Performance Times: Monday 7am, Tuesday 6pm, Wednesday 6pm, Thursday 6pm, Friday 12pm.-->
    ____________________________________________________________________________________
    </p>
    <p>

    Show Group 8:<br />
    Trainer-<br />
    Name: Elizabeth Hall<br />
    Age: 28<br />
    Gender: Female<br />
    Hair: Blonde<br />
    Eye: Brown<br />
    Height: 5’8 ft.<br />
    Prior years at this show: 0<br />

    <br />

    Dog-<br />
    Name: Andy<br />
    Age: 4<br />
    Gender: Male<br />
    Fur: Apricot<br />
    Eye: Brown<br />
    Height: 16 in.<br />
    Prior years at this show: 0<br />
    Breed: Poodle<br />

    <!--Performance Times: Monday 12pm, Tuesday 12pm, Wednesday 7am, Thursday 7am, Friday 6pm.-->
    ____________________________________________________________________________________
    </p>
    <p>

    Show Group 9:<br />
    Trainer-<br />
    Name: Jacob Woods<br />
    Age: 33<br />
    Gender: Male<br />
    Hair: Black<br />
    Eye: Green<br />
    Height: 5’7<br />
    Prior years at this show: 1<br />

    <br />

    Dog-<br />
    Name: Cooper<br />
    Age: 4<br />
    Gender: Male<br />
    Fur: Sable<br />
    Eye: Dark Brown<br />
    Height: 27 in.<br />
    Prior years at this show: 1<br />
    Breed: Pembroke Welsh Corgi<br />

    <!--Performance Times: Monday 7am, Tuesday 7am, Wednesday 12pm, Thursday 6pm, Friday 12pm.-->

    ____________________________________________________________________________________
    </p>
    <p>

    Show Group 10:<br />
    Trainer-<br />
    Name: Katherine Harris<br />
    Age: 24<br />
    Gender: Female<br />
    Hair: Brown<br />
    Eye: Brown<br />
    Height: 5’3 ft.<br />
    Prior years at this show: 0<br />

    <br />

    Dog-<br />
    Name: Bella<br />
    Age: 3<br />
    Gender: Female<br />
    Fur: Black and White<br />
    Eye: Liver<br />
    Height: 19 in.<br />
    Prior years at this show: 0<br />
    Breed: English Springer Spaniel<br />

    <!--Performance Times: Monday 7am, Tuesday 12pm, Wednesday 7am, Thursday 12pm, Friday 6pm.-->
    ____________________________________________________________________________________
    </p>
    <p>
    Show Group 11:<br />
    Trainer-<br />
    Name: Diane Turner<br />
    Age: 30<br />
    Gender: Female<br />
    Hair: Black<br />
    Eye: Brown<br />
    Height: 5’7<br />
    Prior years at this show:  4<br />

    <br />

    Dog-<br />
    Name: Max<br /> <!--fun fact: I used to have a dog named Max-->
    Age: 7<br />
    Gender: Male<br />
    Fur: White & Brindle<br />
    Eye: Brown<br />
    Height: 12 in.<br />
    Prior years at this show: 3<br />
    Breed: French Bulldog<br />

    <!--Performance Times: Monday 12pm, Tuesday 6pm, Wednesday 6pm, Thursday 7am, Friday 7am.-->
    ____________________________________________________________________________________
    </p>
    <p>

    Show Group 12:<br />
    Trainer-<br />
    Name: Lisa Bell<br />
    Age: 46<br />
    Gender: Female<br />
    Hair:  Black<br />
    Eye: Blue<br />
    Height: 5’5 ft<br />
    Prior years at this show: 2<br />

    <br />

    Dog-<br />
    Name: Coco<br />
    Age: 8<br />
    Gender: Female<br />
    Fur: Black and Tan<br />
    Eye: Black<br />
    Height: 7 in.<br />
    Prior years at this show: 2<br />
    Breed: Yorkshire Terrier<br />

    <!--Performance Times: Monday 7am, Tuesday 12pm, Wednesday 6pm, Thursday 12pm, Friday 7am.-->
    
</p>

@code {
    //I did reaserch on the types of dogs I put in the show so 
    //all of the ages, heights, and eye and fur colors should be correct for the breed.
}
