@page "/"

<PageTitle>Index</PageTitle>

<p>Hello, welcome to the HW dog show web app. This application is for HW inc. yearly dog shows that they have been hosting since 2010.</p>
<p>We here at HW inc. pride ourselves in our annual dog shows, and it as our mission to provide our attendes the most entertainment we possiably can.</p>
<p>We have prepared several pages to allow this sites visters to learn about this years contestants, past years winners, and this years schedule, as well as purchase items from our online shop, and tickets for this years shows. </p>

<p>
    If you would like to contact us <br />
    Our email is at: HW_inc2005@buissness.com<br />
    and our company phone number is: (012) 345-6789
</p>


@code {

}

