@page "/pastwinners"

<PageTitle>Past Winners</PageTitle>

<h1>Past Winners</h1>

<p>
    2010 Winners: <br />
    Trainer- <br />
    Name: Aidan Broughton <br />
    Age: 34 <br />
    Gender: Male <br />
    Hair: Black <br />
    Eye: Blue <br />
    Height: 5’8 ft.<br />

    <br />

    Dog- <br />
    Name: Hunter <br />
    Age: 7 <br />
    Gender: Male <br />
    Fur: Black, & Silver <br />
    Eye: Black <br />
    Height: 10 in. <br />
    Breed: Affenpinscher<br />

    ———————————————————————————————————————————
       <br />

    2011 Winners:<br />
    Trainer-<br />
    Name: Emily Marin<br />
    Age: 25<br />
    Gender: Female<br />
    Hair: Brown<br />
    Eye: Blue<br />
    Height: 5’4 ft.<br />

    <br />

    Dog-<br />
    Name: Lucky<br />
    Age: 10<br />
    Gender: Male<br />
    Fur: Fawn<br />
    Eye: Brown<br />
    Height: 22 in.<br />
    Breed: Barbado da Terceira<br />

    ———————————————————————————————————————————

    <br />
    2012 Winners:<br />
    Trainer-<br />
    Name: Kevin Cross<br />
    Age: 41<br />
    Gender: Male<br />
    Hair: Brown<br />
    Eye: Green<br />
    Height: 5’7 ft.<br />

    <br />

    Dog-
    Name: Rex<br />
    Age: 9<br />
    Gender: Male<br />
    Fur: Red<br />
    Eye: Dark Brown<br />
    Height: 10 in.<br />
    Breed: Australian Terrier<br />

    ———————————————————————————————————————————

    <br />
    2013 Winners:<br />
    Trainer-<br />
    Name: Robert Hoffman<br />
    Age: 35<br />
    Gender: Male<br />
    Hair: Brown<br />
    Eye: Brown<br />
    Height: 5’6 ft.<br />

    <br />

    Dog-<br />
    Name: Dolly<br />
    Age: 8<br />
    Gender: Female<br />
    Fur: Sable<br />
    Eye: Brown<br />
    Height: 19 in.<br />
    Breed: Border Collie<br />

    ———————————————————————————————————————————

    <br />
    2014 Winners: <br />
    Trainer- <br />
    Name: Jonathan Lamb <br />
    Age: 52<br />
    Gender: Male<br />
    Hair: Blonde<br />
    Eye: Brown<br />
    Height: 5’5 ft.<br />

    <br />

    Dog-<br />
    Name: Scout<br />
    Age: 7<br />
    Gender: Female<br />
    Fur: Tawny<br />
    Eye: Brown<br />
    Height: 23 in.<br />
    Breed: Chinook<br />

    ———————————————————————————————————————————

    <br />
    2015 Winners:<br />
    Trainer-<br />
    Name: Paula <br />
    Age: 44<br />
    Gender: Female<br />
    Hair: Black<br />
    Eye: Brown<br />
    Height: 5’8 ft.<br />

    <br />

    Dog-<br />
    Name: June<br />
    Age: 6<br />
    Gender: Female<br />
    Fur: Seal, & White<br />
    Eye: Brown<br />
    Height: 15 in.<br />
    Breed: Boston Terrier<br />

    ———————————————————————————————————————————

    <br />
    2016 Winners:<br />
    Trainer-<br />
    Name: Ellen Joyce<br />
    Age: 26<br />
    Gender: Female<br />
    Hair: Brown<br />
    Eye: Brown<br />
    Height: 5’9 ft.<br />

    <br />

    Dog-<br />
    Name: Emmit<br />
    Age: 10<br />
    Gender: Male<br />
    Fur: Black, & Tan<br />
    Eye: Brown<br />
    Height: 13 in.<br />
    Breed: Cavalier King Charles Spaniel<br />

    ———————————————————————————————————————————

    <br />
    2017 Winners:<br />
    Trainer-<br />
    Name: Will Dixon<br />
    Age: 48<br />
    Gender: Male<br />
    Hair: Brown<br />
    Eye: Brown<br />
    Height: 5’11 ft.<br />

    <br />

    Dog-<br />
    Name: Hugo<br />
    Age: 11<br />
    Gender: Male<br />
    Fur: Black, & Cream<br />
    Eye: Dark Brown<br />
    Height: 6 in.<br />
    Breed: Dachshund (Miniature)<br />

    ———————————————————————————————————————————

    <br />
    2018 Winners:<br />
    Trainer-<br />
    Name: Howard Evens<br />
    Age: 26<br />
    Gender: Male<br />
    Hair: Black<br />
    Eye: Brown<br />
    Height: 6’1 ft.<br />

    <br />

    Dog-<br />
    Name: Rose<br />
    Age: 7<br />
    Gender: Female<br />
    Fur: White<br />
    Eye: Brown<br />
    Height: 17 in.<br />
    Breed: Clumber Spaniel<br />

    ———————————————————————————————————————————
    <!--Competing again in 2022-->
    <br />
    2019 Winners:<br />
    Trainer-<br />
    Name: Ethan Smith<br />
    Age: 39<br /> <!--is now 41-->
    Gender: Male<br />
    Hair: Black<br />
    Eye: Blue<br />
    Height: 5’8 ft.<br />

    <br />

    Dog-<br />
    Name: Charlie<br />
    Age: 5<br /> <!--is now 8-->
    Gender: Male<br />
    Fur: Cream<br />
    Eye: Brown<br />
    Height: 23 in.<br />
    Breed: Airedale Terrier<br />


    ———————————————————————————————————————————

    <br />
    2020 Winners:<br />
    Trainer-<br />
    Name: Rachel Garderner<br />
    Age: 30<br />
    Gender: Female<br />
    Hair: Blonde<br />
    Eye: Green<br />
    Height: 5’10 ft. <br />

    <br />

    Dog-<br />
    Name: Pearl<br />
    Age: 11<br />
    Gender: Female<br />
    Fur: Brindle<br />
    Eye: Brown<br />
    Height: 13 in.<br />
    Breed: Drever<br />

    ———————————————————————————————————————————
    <br />
    <!--Competing again in 2022-->
    2021 Winners:<br />
    Trainer-<br />
    Name: Lisa Bell<br />
    Age: 45<br /> <!--is now 46-->
    Gender: Female<br />
    Hair:  Black<br />
    Eye: Blue<br />
    Height: 5’5 ft<br />
    

    <br />

    Dog-<br />
    Name: Coco<br />
    Age: 7<br /><!--is now 8-->
    Gender: Female<br />
    Fur: Black and Tan<br />
    Eye: Black<br />
    Height: 7 in.<br />
    Prior years at this show: 2<br />
    Breed: Yorkshire Terrier<br />


    ———————————————————————————————————————————
    <br />
    2022 Winners:<br />
    <br />
    To be determined


    <!--This website was very useful when finding information on a breeds info (height, fur color, age etc.):-->
    <!--https://www.akc.org/dog-breeds/-->
</p>


@code {


}
