@page "/schedule"


<h3>Schedule</h3>
<p>This years show will be hosted throughout the week of November 7th to November 11th, there will be three shows per day, and four particpating groups per show.</p>

<br />

<h5>November 7th:</h5>
<p>7am- Frank & Ace, Jacob & Cooper, Katherine & Bella, Lisa & Coco.</p>
<p>12pm- Stanley & Duke, Alex & Buddy, Elizabeth & Andy, Diane & Max.</p>
<p>6pm- Ashley & Sunny, Micheal & Axel, Jenny & Burst, Ethan & Charlie.</p>
<br />

<h5>November 8th:</h5>
<p>7am- Ashley & Sunny, Stanley & Duke, Jenny & Burst, Jacob & Cooper.</p>
<p>12pm- Ethan & Charlie, Elizabeth & Andy, Katherine & Bella, Lisa & Coco.</p>
<p>6pm- Micheal & Axel, Alex & Buddy, Frank & Ace, Diane & Max.</p>
<br />

<h5>November 9th:</h5>
<p>7am- Stanley & Duke, Ethan & Charlie, Elizabeth & Andy, Katherine & Bella.</p>
<p>12pm- Ashley & Sunny, Micheal & Axel, Alex & Buddy, Jacob & Cooper.</p>
<p>6pm- Jenny & Burst, Frank & Ace, Diane & Max, Lisa & Coco.</p>
<br />

<h5>November 10th:</h5>
<p>7am- Micheal & Axel, Alex & Buddy, Elizabeth & Andy, Diane & Max.</p>
<p>12pm- Ashley & Sunny, Ethan & Charlie, Katherine & Bella,Lisa & Coco.</p>
<p>6pm- Stanley & Duke, Jenny & Burst, Frank & Ace, Jacob & Cooper.</p>
<br />

<h5>November 11th:</h5>
<p>7am- Ashley & Sunny, Ethan & Charlie, Diane & Max, Lisa & Coco.</p>
<p>12pm- Micheal & Axel, Jenny & Burst, Frank & Ace, Jacob & Cooper.</p>
<p>6pm- Stanley & Duke, Alex & Buddy, Elizabeth & Andy, Katherine & Bella.</p>
<br />
@code {

}
